@import "./colours.css";

.bg-neutral {
    background-color: var(--bodyBackgroundColor);;
}
.border-thick {
    border: 3px solid var(--card-color) !important;
}
#header,
#footer {
    background-color: var(--card-color);
}
#header a,
#footer a {
    color: var(--bodyBackgroundColor);
    font-weight: bold;
    text-decoration: none;
}
.neo-card {
    /* /background: #ffffff; */
    /* background-color: #f3f4f6; */
    background-color: var(--card-color);
    color: var(--bodyBackgroundColor);
    /* border: 3px solid black; */
    /* box-shadow: 6px 6px 0px #000; */
    border-radius: 20px;
    min-height: 30vh;
    max-height: 90vh;
    overflow-y: hidden;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.neo-card a {
    color: var(--bodyBackgroundColor);
    text-decoration: none;
}

.neo-divider {
    border: 2px solid var(--bodyBackgroundColor);
    margin: 1rem auto;
    width: 60%;
}
.spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #000;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}

a {
    white-space: nowrap;
    overflow: visible;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

mdi-menu-down mdi v-icon notranslate v-theme--greenTheme v-icon--size-default v-icon--clickable v-autocomplete__menu-icon
 {
    opacity: 1 !important;
    color: #aff8c4 !important;
}

.v-label.v-field-label.v-field-label--floating,
.v-field__outline {
    color: #aff8c4 !important;
    opacity: 1 !important;
}

.neo-input .v-field {
  --v-field-border-color: #aff8c4 !important;
  --v-field-border-opacity: 1 !important;
}

.neo-input .v-field-label {
  color: #aff8c4 !important;
}

.v-app-bar.v-toolbar {
    color: #aff8c4 !important;
    opacity: 1 !important;
}